:root {
    --primary-color: #e65616;
    --primary-color-hover: #d1310a;
    --base-100-color: #fff;
    --base-200-color: #898989;
    --base-300-color: #303030;
    --base-400-color: #292929;
    --base-500-color: #1f1f1f;
    --base-600-color: #1a1a1a;
    --base-700-color: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--base-100-color);
    font-family: 'Montserrat', sans-serif;
}

.text-center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', serif;
}

header {
    background-color: transparent;
    width: 100%;
    padding: 0.5rem 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.collapse {
    transform: translateY(-100%);
}

.logo {
    width: 4rem;
}

.navbar-toggler {
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    background-color: transparent;
    border: 0;
    z-index: 2;
}

.navbar-toggler-up, .navbar-toggler-middle, .navbar-toggler-bottom {
    height: 0.4rem;
    width: 100%;
    border-radius: 0.4rem;
    background-color: var(--base-700-color);
    margin: 0.4rem 0;
    transition: transform 0.2s ease-in-out;
}

.navbar-toggler-up-animation {
    /* transform: rotate(45deg) translate(10px) scale(0.8); */
    transform: rotate(45deg) scale(0.8) translate(25%);
    transform-origin: center;
}
 
.navbar-toggler-bottom-animation {
    /* transform: rotate(-45deg) translateX(0.5rem) scale(0.8); */
    transform: rotate(-45deg) scale(0.8) translate(25%);
    transform-origin: center;
}

.navbar-toggler-middle-animation {
    display: none;
}

.bg-dark {
    background-color: var(--base-700-color);
}

.bg-light {
    background-color: var(--base-100-color);
}

#navbarNav {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #000;
    z-index:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

.nav-link {
    color: var(--base-200-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
}

.nav-link.active, .nav-link:active {
    color: var(--base-100-color) !important;
}

main {
    margin-top: 75%;
    border: 2px solid blue;
}

.home-name {
    font-size: 5rem;
    font-weight: 800;
    color: var(--base-700-color);
    text-transform: uppercase;
    letter-spacing: -0.6rem;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-item-link {
    text-decoration: none;
}

.social-item {
    background-color: var(--base-400-color);
    opacity: 0.8;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    color: var(--base-100-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.social-item:active {
    background-color: var(--primary-color);
}

footer {
    background-color: var(--base-700-color); 
}

footer ul {
    list-style-type: none;
    padding: 0;
    height: 100%;
    max-width: 500px;
}

.footer-link {
    color: var(--base-200-color);
    text-decoration: none;
    font-size: 0.7rem;
    text-transform: uppercase;
}

/* .container {
    background-color: var(--base-600-color);
    padding: 1rem;
} */