* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-light {
  background-color: var(--color-primary);
}

.bg-dark {
  background-color: var(--color-fifth);
}

.bg-darker {
  background-color: var(--color-secondary);
}

.bg-blue {
  background-color: var(--color-quaternary);
}

.bg-important {
  background-color: var(--color-tertiary);
}

.bg-work {
  background: url('images/bg-work.jpg') no-repeat center center/cover;
}

.bg-blog {
  background: url('images/bg-blog.png') no-repeat center center/cover;
}

.text-light {
  color: var(--color-text-light);
}

.dot {
  height: 0.7rem;
  width: 0.7rem;
  background-color: var(--color-tertiary);
  border-radius: 50%;
  display: inline-block;
}
