@keyframes translateUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-53%);
  }
}

@keyframes translateDown {
  from {
    transform: translateY(-53%);
  }
  to {
    transform: translateY(0);
  }
}
