@import './base.css';
@import './variables.css';
@import './keyframes.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--color-text-dark);
}

h1 {
  font-size: 10rem;
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}

.text-important {
  color: var(--color-tertiary);
}

.translate-up {
  animation: translateUp 15s linear infinite;
}

.translate-down {
  animation: translateDown 15s linear infinite;
}
